<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">

	<test name="AccountCreation">
		<classes>
			<class name="com.jaga.hybrid.testscripts.AccountCreation" />
		</classes>
	</test>
	<test name="SignIn">
		<classes>
			<class name="com.jaga.hybrid.testscripts.SignIn" />
		</classes>
	</test>

</suite> 
